:root{

}
/* ==================== Header-bar =============================== */
.header-bar{
    background-color: rgba(72, 5, 188, 1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    height: 70px;
    }

    .titulo {
        position: relative;
        left: 5.5rem;
        font-size: 42px;
    }
    .menu {
        position: relative;
        display: flex;
        gap: 3rem;
        font-size: 28px;
        left: 44rem;
        bottom: 1rem;
        cursor: pointer;
    }

    /* =============== language ====================== */
    #language {
        position: relative;
        display: flex;
    }
    .arrow {
        position: relative;
        display: flex;
        right:-10rem;
        bottom: 1rem;
        cursor: pointer;
    }
    .dropdown-content {
        position: relative;
        right: 48rem;

    }